/*Карусель*/
.carousel#carousel-responsive {
    width: auto;
    overflow: hidden;
    height: 226px !important
}

.carousel {
    border-top: 2px solid #575756;
    border-bottom: 2px solid #575756;
    padding: 0 0 0 2px;
    width: 762px
}

.carusel {
    overflow: hidden
}

.carusel div {
    margin-right: 0
}

.carousel#carousel-responsive ul > li {
    float: left;
    list-style: none;
    border: 10px solid #fff;

}
.carousel#carousel-responsive img{
    border-radius: 15px!important;
    border: 1px solid #fb711d;
}

.carousel#carousel-responsive ul:nth-child(2) {
    margin-top: 0
}

/*Карусель*/